.section {
  @apply text-sm md:text-base lg:text-lg hover:border-b-2 border-zinc-900 font-medium;
}

.activeSection {
  @apply text-sm md:text-base lg:text-lg border-b-2 border-zinc-900 font-medium;
}

#container {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.hideNavbar {
  transform: translateY(-5rem)
}
